<nav>
    <a href="/"
      ><div class="page-title">
        <h1>Marcelo's blog</h1>
      </div></a
      <p>A basic blog with node.js</p>
    
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </ul>
  </nav>