<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, nisi
        modi voluptatibus enim blanditiis, eaque neque, beatae harum ea fugit
        nemo facilis fuga. Consequatur, maiores sed. Quo asperiores doloribus
        dolorem.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, nisi
        modi voluptatibus enim blanditiis, eaque neque, beatae harum ea fugit
        nemo facilis fuga. Consequatur, maiores sed. Quo asperiores doloribus
        dolorem.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, nisi
        modi voluptatibus enim blanditiis, eaque neque, beatae harum ea fugit
        nemo facilis fuga. Consequatur, maiores sed. Quo asperiores doloribus
        dolorem.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
